html
    head
        title 관리자페이지 | LOCKGYO
        meta(charset='utf-8')
        link(rel='stylesheet', href='/assets/style/style.css')
        link(rel='stylesheet', href='/assets/style/design_admin.css')
        link(rel='icon', href='/assets/image/tab.png', type='image/x-icon')
        script
            |var count = 0;
            |function countUser() {
            |    count += 1;
            |}
    body
        div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
            form(action='/admin/setSchedule' method='post')
                table.board
                    thead
                        tr
                            td(colspan="5") 일정관리
                    tbody
                        tr
                            td(rowspan="3") 현재일정
                            td 구분
                            td 시작일
                            td 마감일
                        tr
                            td 신규신청
                            td= schedule[0].strDate
                            td= schedule[0].endDate
                            
                        tr
                            td 연장신청
                            td= schedule[1].strDate
                            td= schedule[1].endDate
                        tr
                            td(rowspan="2") 일정수정
                            td(rowspan="2")
                                select(name='dateType')
                                    option(value=1) 신규신청
                                    option(value=2) 연장신청
                            td 시작일자
                                input(type='date' id='str_date' name='str_date')
                            td(rowspan="2")
                                input(type='submit' value='적용하기').btn_setSchedule
                        tr
                            td 마감일자
                                input(type='date' id='end_date' name='end_date')
            
            table.board
                thead
                    tr
                        td(colspan="4") 회원관리
                tbody
                    tr
                        td 학번
                        td 이름
                        td 상태
                        td 승인
                    each user in users
                        tr
                            td(width="40%")= user.Uid
                            td(width="20%")= user.name
                            if user.privilege === 3
                                script
                                    | countUser();
                                
                                td(width="20%") 승인대기
                                td(width="20%")
                                    a(href='/admin/changePrivilege?id='+user.Uid).btn_normalBlue 가입승인
                            else
                                td(width="20%") 승인완료
                                td(width="20%")
                                    a(href='/admin/deleteUser?id='+user.Uid).btn_normalYellow 회원삭제
                    tr
                        td(colspan="3") 현재 대기중인 가입자 수는 
                            script 
                                | document.write(count)
                            명입니다
                        td 
                            a(href='/admin/changePrivilegeAll').btn_normalBlue 전체승인
            table.board
              thead
                tr
                  td(colspan="5") 사물함관리
              tbody
                tr
                  td 사물함번호
                  td 사용자
                  td 사물함 수거
              each lock in locker
                  tr
                    td= lock.lid
                    td= lock.name
                    td
                      a(href='/admin/locker?id='+lock.lid).btn_normalYellow 수거
            
        script(type='text/javascript')
            |document.getElementById('str_date').value = new Date().toISOString().substring(0, 10);
