html
    head
        title 공지사항 | LOCKGYO
        meta(charset='utf-8')
        link(rel='stylesheet', href='/assets/style/style.css')
        link(rel='stylesheet', href='/assets/style/design_post.css')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
          div.post_board
            if post
              div.post_title
                p= post.title
              div.post_timestamp
                p= post.timestamp
                div.box_mng
                  if privilege === 1
                    a(href='/notice/edit?id='+post.Nid) 수정
                    &nbsp;
                    a(href='/notice/delete?id='+post.Nid id='btn_delete') 삭제
              div.post_content
                p= post.description
            else
                | 잘못된 접근입니다

                table.board
                    thead
                        tr
                            td(colspan="4") 회원관리
          div.box_comment
            table.comment
              thead
                tr
                  td(colspan="4") 댓글
              if allComment
                tbody
                each com in allComment
                  tr
                    td(width="25%")= com.c_author
                    &nbsp;
                    td= com.c_content
                    br
          
            form(action='/notice/comment?id='+post.Nid, name="comment", method="post")
                  p 댓글작성
                  input.field_comment(type='text', name='c_content', placeholder="")
                  input.btn_comment(type="submit" value="등록")
                  
                  
          div.box_btn
                p
                  a(href='/notice').btn_back 돌아가기
                      
        script
            | var element = document.getElementById('btn_delete');
            | element.onclick = function() {var result = confirm("정말 삭제하시겠습니까?");};
            
            
